# .NET
bin/
obj/
Logs/
*.user
*.suo

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/

# Backups SQL
database/backups/*.bak
database/backups/*.log

# Agent Skills
.gemini/
.agents/

